@model IEnumerable<HappyTrees.Models.Painting>

@{
    ViewData["Title"] = "AllPaintings";
}

<style>
    h1 {
        font-size : 48px;
    }

    .painting-grid {
        display: grid;
        grid-template-columns: 256px 256px 256px 256px;
        grid-template-rows: repeat(auto-fill minmax(256px, 320px));
        grid-gap: 16px;
    }

    .painting-preview{
        display: grid;
        grid-template-rows: auto auto auto;
    }

    .painting-thumbnail{
        width: 256px;
    }

    .painting-ID{
        font-size: 14px;
    }

    .painting-name{
        font-size: 14px;
        font-weight: 500;
    }
</style>

<h1>All Paintings</h1>

<div class="painting-grid">
    @foreach (var item in Model)
        {
            // Format season and episode ID, set paintingName
            string paintingID = "S" + item.Season + "E" + item.Episode;
            string paintingName = item.Title;
            string paintingNameClean = paintingName.Replace(" ", "-");

            <div class="painting-preview">
                <div>
                        @* Create an a tag from current item image to open PaintingDetails view
                           Passes current item as Painting parameter to new view*@
                        <a href="@Url.Action("PaintingDetailsIn", "Painting", new { id = item.Id, title = paintingNameClean })">
                            <img class="painting-thumbnail" src="@Url.Content(item.ThumbnailFile)" alt="Painting Thumbnail">
                        </a>
                </div>
                <div class="painting-ID">
                    @paintingID
                </div>
                <div class="painting-name">
                    @paintingName
                </div>
            </div>
    }
</div>




