@model HappyTrees.Models.Painting

@{
    ViewData["Title"] = "CreatePainting";
}

<h1>Create Painting</h1>

<h4>Painting</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePainting">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                <input asp-for="Season" class="form-control" />
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Episode" class="control-label"></label>
                <input asp-for="Episode" class="form-control" />
                <span asp-validation-for="Episode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailFile" class="control-label"></label>
                <input asp-for="ThumbnailFile" class="form-control" />
                <span asp-validation-for="ThumbnailFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoUrl" class="control-label"></label>
                <input asp-for="VideoUrl" class="form-control" />
                <span asp-validation-for="VideoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colors" class="control-label"></label>
                @*<input asp-for="Colors" type="checkbox" class="form-control" />*@
                <select asp-for="Colors" class="form-control">
                    <option value="1">Sap Green</option>
                    <option value="2">Alizarin Crimson</option>
                    <option value="3">Van Dyke Brown</option>
                    <option value="4">Dark Sienna</option>
                    <option value="5">Midnight Black</option>
                    <option value="6">Prussian Blue</option>
                    <option value="7">Phthalo Blue</option>
                    <option value="8">Phthalo Green</option>
                    <option value="9">Cadmium Yellow</option>
                    <option value="10">Yellow Ochre</option>
                    <option value="11">Indian Yellow</option>
                    <option value="12">Bright Red</option>
                    <option value="13">Titanium White</option>
                    <option value="14">Burnt Umber</option>
                    <option value="15">Black Gesso</option>
                    <option value="16">Liquid Black</option>
                    <option value="17">Liquid Clear</option>
                </select>
                @*@for (int i = 0; i < 9; i++)
        {
            <input name="AreChecked" type="checkbox" value="@i" />@i<br />
                                    @Html.ListBox("PaintingColors", (MultiSelectList)ViewBag.Categories, new { multiple = "multiple" })
                <select id="PaintingColors" multiple="multiple" name="PaintingColors"></select>
                    onclick="@Url.Action("CreateNewPainting", "Painting") new { model }"
        }*@


                <span asp-validation-for="Colors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
